:root {
    --dark-raspberry: hsl(332, 51%, 32%);
    --gray: #e1e1e1;
    --nutmeg: hsl(14, 45%, 36%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-gray: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
    --white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: "Young Serif";
    src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Outfit";
    src: url("./assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Outfit";
    src: url("./assets/fonts/outfit/static/Outfit-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Outfit";
    src: url("./assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
    font-weight: 700;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--eggshell);
    color: var(--wenge-brown);
    font-family: "Outfit", sans-serif;
    min-height: 100dvh;
}

h1,
h2 {
    font-family: "Young Serif";
}

h2 {
    color: var(--nutmeg);
    font-weight: 400;
}

img {
    display: block;
    max-width: 100%;
}

.divider {
    background-color: var(--gray);
    height: 1px;
    width: 100%;
}

.recipe {
    background-color: var(--white);
    border-radius: 28px;
    padding: 2.5em;
    margin: 2em auto;
    max-width: 46rem;
}

.recipe__image {
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.recipe-content {
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}

.recipe__name {
    color: var(--dark-charcoal);
    padding-top: 1.5em;
}

.preparation-container {
    background-color: var(--rose-white);
    border-radius: 14px;
    padding: 1.4em;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.preparation__title,
.recipe__ingredients,
.recipe__instructions,
.recipe__nutrition {
    padding-bottom: .6em;
}

.preparation__title {
    color: var(--dark-raspberry);
    font-size: 1.2em;
    font-weight: 700;
}

.preparation-items,
.ingredients-container,
.instructions-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding-inline: 1.5em;
}

.preparation-item,
.ingredient-item {
    padding-left: .5em;
}

.preparation__item-title,
.instruction__item-title {
    font-weight: 700;
}

.preparation-item::marker {
    color: var(--dark-raspberry);
}

.ingredient-item::marker,
.instruction-item::marker {
    color: var(--nutmeg);
}

.instruction-item::marker {
    font-weight: 700;
}

.nutrition__description {
    padding-bottom: 1em;
}

.nutrition-table {
    border-collapse: collapse;
    width: 100%;
}

.nutrition__item {
    border-bottom: 1px solid var(--gray);
}

.nutrition__item:last-child {
    border-bottom: 0;
}

.nutrition__element {
    padding-block: .6em;
}

.nutrition__value {
    color: var(--nutmeg);
    font-weight: 700;
}

@media only screen and (max-width: 730px) {
    .recipe {
        border-radius: 0;
        padding: 0;
        margin: unset;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .recipe__image {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .recipe-content {
        padding: 2em;
    }

    .recipe__name {
        padding-top: 0;
    }
}